@using System.Data;

@{
    ViewData["Title"] = "Home Page";
}

@{
    if (Model.Rows.Count > 0)
    {
        foreach (DataRow row in Model.Rows)
        {
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Halls
                                    </div>

                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@row["HallCount"]</div>
                                </div>

                                <div class="col-auto">
                                    <i class="bi bi-bank fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Bookings
                                    </div>

                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@row["BookingCount"]</div>
                                </div>

                                <div class="col-auto">
                                    <i class="bi bi-calendar-check fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Corporations
                                    </div>

                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@row["CorpCount"]</div>
                                </div>

                                <div class="col-auto">
                                    <i class="bi bi-building fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }
    }
}